<div class="event-header">
  <h1><%= @event.title %></h1>
  <% if @event.attendees.exists?(current_user.id) %>
    <%= button_to "Leave", leave_event_path, class: "cancel", method: :delete %>
  <% else %>
    <%= button_to "Attend", attend_event_path %>
  <% end %>
</div>

<div class="card event-detail">
  <h2>Location</h2>
  <p><%= @event.location %></p>
</div>

<div class="card event-detail">
  <h2>Date and time</h2>
  <p><%= @event.date %></p>
</div>

<div class="card event-detail">
  <h2>Organizer</h2>
  <p>
    <%= link_to @event.organizer.username, user_path(@event.organizer) %>
  </p>
</div>

<div class="card event-detail">
  <h2>Attendees</h2>
  <% if @event.attendees.count.nonzero? %>
    <ul class="attendee-list">
      <% @event.attendees.each do |attendee| %>
        <li class="attendee">
          <%= link_to attendee.username, user_path(attendee) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No one is planning to attend this event yet</p>
  <% end %>
</div>